<a href="https://colab.research.google.com/github/mr-pr0fessional/MINI-PROJECT/blob/main/MLR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing required libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:


# Sample dataset creation (or load your CSV file here)
data = {
    'bedrooms': [2, 3, 4, 3, 5, 4, 2],
    'bathrooms': [1, 2, 2, 2, 3, 2, 1],
    'sqft': [1000, 1500, 2000, 1600, 2500, 2200, 1200],
    'age': [10, 5, 2, 8, 1, 3, 12],
    'price': [200000, 300000, 400000, 320000, 500000, 450000, 220000]
}

# Converting to DataFrame
df = pd.DataFrame(data)

# Features and target variable
X = df[['bedrooms', 'bathrooms', 'sqft', 'age']]
y = df['price']

print("X data:\n",X)
print("\ny data:\n",y)

X data:
    bedrooms  bathrooms  sqft  age
0         2          1  1000   10
1         3          2  1500    5
2         4          2  2000    2
3         3          2  1600    8
4         5          3  2500    1
5         4          2  2200    3
6         2          1  1200   12

y data:
 0    200000
1    300000
2    400000
3    320000
4    500000
5    450000
6    220000
Name: price, dtype: int64

In [3]:
# Splitting the dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("X_train:\n", X_train)
print("\nX_test:\n", X_test)
print("\ny_train:\n", y_train)
print("\ny_test:\n", y_test)

X_train:
    bedrooms  bathrooms  sqft  age
2         4          2  2000    2
4         5          3  2500    1
3         3          2  1600    8
6         2          1  1200   12

X_test:
    bedrooms  bathrooms  sqft  age
0         2          1  1000   10
1         3          2  1500    5
5         4          2  2200    3

y_train:
 2    400000
4    500000
3    320000
6    220000
Name: price, dtype: int64

y_test:
 0    200000
1    300000
5    450000
Name: price, dtype: int64

In [4]:

# Creating and training the model
model = LinearRegression()
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

# Creating a DataFrame to compare X_test and y_pred
results_df = X_test.copy()  # Copy X_test
results_df['Predicted Price'] = y_pred  # Add predictions as a new column

# Display the results
print("\nX_test with Predicted Prices:\n", results_df)

X_test with Predicted Prices:
    bedrooms  bathrooms  sqft  age  Predicted Price
0         2          1  1000   10    202978.769967
1         3          2  1500    5    320000.000000
5         4          2  2200    3    421276.537541

In [5]:
# Evaluating the model
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

Mean Squared Error: 411303455.37591195
R² Score: 0.9610344094907031

In [6]:
# Displaying the coefficients
print("\nModel Coefficients:")
for feature, coef in zip(X.columns, model.coef_):
    print(f"{feature}: {coef:.2f}")
print("Intercept:", model.intercept_)

Model Coefficients:
bedrooms: 3404.46
bathrooms: 28510.62
sqft: 127.66
age: -4255.31
Intercept: 82553.07508280524